// variables
$primary: #6b336f;
$secondary: #bb435e;
$tertiary: #f08b5b;
$fourthly: #f0ecdd;
$white: #fefefe;

$success: #27ae60;
$warning: #f39c12;
$error: #d32f2f;
$disabled: #c6c6c6;

$text__title-black: #202124;
$text__body-black: #5f6368;

$links: #1a73e8;

$icons__primary: #6b336f;
$icons__secondary: #1e1e1e;

$border-radius: 3px;
$spacing: 4px;

$font-family: 'Nunito';

$font-size__button: 16px;
$font-size__body: 15px;
$font-size__label--small: 12px;

$borders__grey: #5f6368;
$borders__grey--light: #8b8b8b;

$transition-properties: all 200ms;
