// config
@import 'scss/config/reset';
@import 'scss/global/fonts';
@import 'scss/global/keyframes';
@import 'scss/global/medias';
@import 'scss/global/mixins';
@import 'scss/global/variables';
@import 'scss/global/functions';
@import 'scss/components/components';

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text__capitalize {
  text-transform: uppercase;
}

.full-width {
  width: 100%;
}
